$font-s:1rem;
// 20px
$font-s:1.25rem;
// 24px
$font-m:1.5rem;
$font-h2:4rem;

.mb-1{
  margin-bottom:0.75rem ;
}

.mb-2{
  margin-bottom:1rem ;
}

.mb-3{
  margin-bottom:1.25rem ;
}

.mb-4{
  margin-bottom:1.5rem ;
}

.mb-5{
  margin-bottom:2rem ;
}

.mb-6{
  margin-bottom:2.5rem ;
}

.mb-7{
  margin-bottom:3rem ;
}

.mb-8{
  margin-bottom:3.5rem ;
}

.mb-9{
  margin-bottom:4rem ;
}

img{
  vertical-align: middle;
}

body{
  font-size: 16px;
}

.container{
  width: 1920;
}

.banner{
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week2/banner.png?raw=true);
  height: 958px;
  background-size: cover;
  background-position: center center;
  }

.bannerword{
  padding-top: 308px;
  width: 304px;
  margin: 0 auto;
  color: white; 
}


.slogan{
  font-size:$font-m ;
  // margin: 0 auto;
}

h1{
  font-size: $font-s*5;
  // font-size: 5rem;
}

.bannerword h2{
  font-size:$font-m;
  line-height: 36px;
}

.social{
  display: flex;
  justify-content: space-between;
}

.about{
  width: 412px;
  color: black;
  margin: 0 auto;
  text-align: center;
}

.about h2{
  font-size:$font-h2;
  line-height: 84px;
}

.photo{
  width: 384px;
}

.name, .bth{
  font-size: $font-m;
  margin-bottom: 4px;
}

.education{
  font-size: $font-m;
  margin-top: 4px;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
  
}

.experience{
  font-size: $font-m;
  line-height: 32px;

}


.ex-item{
  margin-top: 28px;
}

.ex-item::before {
  content:'';
  width:22px;
  height: 22px;
  border-radius: 50%;
  background-color: #891818;
  margin-right: 1rem;
  display: block;
  // vertical-align: top;

}
.brand-bg{
  background-color: #000;
}


.brand{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.brand h2{
  font-size:$font-h2;
  padding-top: 3.5rem;
  line-height: 84px;
}

.brandslogan{
  font-size: $font-m;
  padding-top: 12px;
  line-height: 42px;
  
}

.brandstory{
  font-size: $font-s;
  line-height: 30px;
  padding-top: 32px;
  margin-bottom: 4.25rem; 
}

.item{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10rem;
}

.item img{
  padding-right: 1.5rem;
}

.item1{
  width: 792px;
  margin-right: auto;
  margin-left: auto;
}

.item2{
  width: 588px;
}

.works{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.works h2{
  font-size:$font-h2;
  line-height: 84px;
}

.works p{
  font-size:$font-s;
  line-height: 30px;
}

.work-list-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.work-list-item img{
  margin-bottom: 1rem;
}

.work-list-item:nth-child(3){
    margin-bottom: 9rem;
  // 沒有用work-list這個div包起來的話上面那行會無效，為什麼呢?
  }

.footer{
  background-color: #000;
}

.contact{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.contact h2{
  font-size:$font-h2;
  line-height: 84px;
}

.contact li{
  font-size: $font-m;
  line-height: 33px;
}



